tree-sitter-sifu/go.mod
tree-sitter-sifu/pyproject.toml
tree-sitter-sifu/log.html
tree-sitter-sifu/CMakeLists.txt
tree-sitter-sifu/Cargo.toml
tree-sitter-sifu/.editorconfig
tree-sitter-sifu/binding.gyp
tree-sitter-sifu/Makefile
tree-sitter-sifu/Package.swift
tree-sitter-sifu/setup.py
tree-sitter-sifu/package.json
tree-sitter-sifu/src


# Rust artifacts
target/
Cargo.lock

# Node artifacts
build/
prebuilds/
node_modules/
package-lock.json

# Swift artifacts
.build/
Package.resolved

# Go artifacts
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib

# Zig artifacts
.zig-cache/
zig-cache/
zig-out/

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip
